@use "destyle.css"
@use "../global/variable" as *

html
	font-family: "Helvetica Neue", Arial, "Hiragino Sans", sans-serif
	visibility: hidden
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	&.wf-inactive,
	&.wf-active
		visibility: visible
body
	background-color: $cream
