doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel="icon" href="./assets/img/favicon.svg" type="image/svg+xml")
		title Product preview card component solution
	body
		.top__container
			article.card(data-gsap-fade-in)
				section.card__section
					figure.card__figure
						picture
							source(media="(max-width:599px)" srcset="/assets/img/img_perfume_sp.webp" type="image/webp")
							source(media="(min-width:600px)" srcset="/assets/img/img_perfume_pc.webp" type="image/webp")
							source(media="(max-width:599px)" srcset="/assets/img/img_perfume_sp.jpg" type="image/jpg")
							source(media="(min-width:600px)" srcset="/assets/img/img_perfume_pc.jpg" type="image/jpg")
							img.card__img(src="/assets/img/img_perfume_pc.jpg" alt="perfume image")
					.card__content
						header.card__header
							p.card__header-caption(data-gsap-fade-up) PERFUME
							h1.card__header-heading(data-gsap-fade-up) Gabrielle Essence Eau De Parfum
						p.card__description(data-gsap-fade-up) A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
						.card__price(data-gsap-fade-up)
							span.card__price-body $149.99
							span.card__price-supp $169.99
						button.card__btn.btn__primary(type="button" data-gsap-fade-up) Add to Cart
		script(type='module' src='/assets/js/main.js')
