doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		link(rel="icon" href="./assets/img/favicon.svg" type="image/svg+xml")
		title Product preview card component solution
	body
		p hello world
		script(type='module' src='/assets/js/main.js')
