meta(property="og:title" content="Product preview card component solution")
meta(property="og:description" content="Gabrielle Essence Eau De Parfum - A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.")
meta(property="og:url" content="https://product-preview-card-component-black.vercel.app")
meta(property="og:image" content="https://product-preview-card-component-black.vercel.app/ogp/img_ogp.jpg")
meta(property="og:type" content="website")
meta(property="og:site_name" content="Product preview card component solution")
meta(name="witter:card" content="summary_large_image")
meta(name="twitter:site" content="@h_o_k_u_t_o_")
